<!DOCTYPE html>
<html>
<body>

<%- include('partials/header'); %><!-- ejs inserts header -->

<h1>About Page</h1>
<p>hello world</p>

<%- include('partials/footer'); %><!-- ejs inserts footer -->

</body>
</html>