<!DOCTYPE html>
<html>
<body>

<%- include('partials/head'); %><!-- ejs inserts head -->

<%- include('partials/header'); %><!-- ejs inserts header -->

<h1>Dynamic Page</h1>

<div id="content">
    <!-- ejs inserts dynamic content from the path passed in variable content_path -->
    <%- include(content_path); %>
</div>

<%- include('partials/footer'); %><!-- ejs inserts footer -->

</body>
</html>