<!DOCTYPE html>
<html>
<%- include('partials/head'); %><!-- ejs inserts head -->
<body>

<%- include('partials/header'); %><!-- ejs inserts header -->

<h1>Home Page</h1>
<p>hello world</p>

<%- include('partials/footer'); %><!-- ejs inserts footer -->

</body>
</html>