<!DOCTYPE html>
<html>
<%- include('partials/head'); %><!-- ejs inserts head -->
<body>

<%- include('partials/header'); %><!-- ejs inserts header -->

<h1>Knapsack Page</h1>

<%- include('partials/code_viewer'); %>

<%- include('partials/footer'); %><!-- ejs inserts footer -->

</body>
</html>