<footer>
    <h2>Site Map</h2>
    <ul>
        <li>
            <a href="/">/</a>
        </li>
        <li>
            <a href="/home">Home</a>
        </li>
        <li>
            <a href="/dynamic_page">Dynamic_Page</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
    </ul>
</footer>
