<div id="table-viewer-frame">
    <button id="tv-show-btn" onclick="openTableViewer()">
        Show Table
    </button>

    <div id="table-viewer" class="table-viewer show">
        <button id="tv-close-btn" onclick="closeTableViewer()">
            X
        </button>
        <%- table_content %>
    </div>
</div>